*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(20 21 25);
    color: rgb(250 254 254);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.container{
    width: 400px;
    height: 340px;
    background-color: rgb(31 38 48);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 30px;
}
.icon-star{
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
    background-color: rgb(38 47 56);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
p{
    color: rgb(110 119 128);
    font-size: 14px;
    line-height: 18px;
}
.btn-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.star-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(38 47 56);
    color: rgb(110 119 128);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.star-btn:hover{
    background-color: rgb(252 118 19);
    color: black;
}
.star-btn:active{
    background-color: white;
}
.sbm-btn{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(252 118 19);
    color: black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sbm-btn:active{
    background-color: white;
}